data
skeyevss-sev
server/logs
node_modules
build
bin/dependencies

vendor
go.sum
*.log
tmp
.DS_Store
*/.DS_Store
.idea
default.etcd
scripts.tar.gz

.env.build*
.env.local*
env.zip
source/upload
source/video-records/*
source/video-snapshot/*
source/pprof/*
source/maps/*
documents.data.json

*bin/sql2gorm*
*bin/goimports-reviser*

*.tmp

etc/.activate.code

yarn.lock

logs/*

._*

bin/*

dependencies
api.api

core/app/demo/latest/*